@font-face {
  font-family: "Zag Regular";
  src: url('fonts/zag_regular-webfont.eot');
  src: url('fonts/zag_regular-webfont.eot?iefix') format('eot'), url('fonts/zag_regular-webfont.woff') format('woff'), url('fonts/zag_regular-webfont.ttf') format('truetype'), url('fonts/zag_regular-webfont.svg') format('svg');
}

@font-face {
  font-family: "Zag Bold";
  src: url('fonts/zag_bold-webfont.eot');
  src: url('fonts/zag_bold-webfont.eot?iefix') format('eot'), url('fonts/zag_bold-webfont.woff') format('woff'), url('fonts/zag_bold-webfont.ttf') format('truetype'), url('fonts/zag_bold-webfont.svg') format('svg');
}

/* line 12, modai-radial-clock.scss */
body {
  background-color: #8bcbcd;
}
/* line 15, modai-radial-clock.scss */
body.night {
  background-color: #3c454c;
}

/* line 20, modai-radial-clock.scss */
.clock {
  height: 224px;
  margin: 50px auto 0;
  position: relative;
  width: 224px;
}
/* line 26, modai-radial-clock.scss */
.clock .clock-face {
  -moz-border-radius: 194px;
  -webkit-border-radius: 194px;
  -o-border-radius: 194px;
  -ms-border-radius: 194px;
  -khtml-border-radius: 194px;
  border-radius: 194px;
  height: 194px;
  overflow: hidden;
  left: 15px;
  position: relative;
  top: 15px;
  width: 194px;
  z-index: 10;
}
/* line 37, modai-radial-clock.scss */
.clock .clock-halo {
  -moz-border-radius: 192px;
  -webkit-border-radius: 192px;
  -o-border-radius: 192px;
  -ms-border-radius: 192px;
  -khtml-border-radius: 192px;
  border-radius: 192px;
  -moz-box-shadow: 0 0 40px #ffde39;
  -webkit-box-shadow: 0 0 40px #ffde39;
  -o-box-shadow: 0 0 40px #ffde39;
  box-shadow: 0 0 40px #ffde39;
  border: 15px solid;
  height: 192px;
  left: 1px;
  overflow: hidden;
  position: absolute;
  top: 1px;
  width: 192px;
  z-index: 20;
}
/* line 51, modai-radial-clock.scss */
.clock.day .clock-face {
  -moz-border-radius: 194px;
  -webkit-border-radius: 194px;
  -o-border-radius: 194px;
  -ms-border-radius: 194px;
  -khtml-border-radius: 194px;
  border-radius: 194px;
  background-color: #fff;
}
/* line 56, modai-radial-clock.scss */
.clock.day .clock-halo {
  border-color: #F7DF4D;
}
/* line 60, modai-radial-clock.scss */
.clock.day .clock-time {
  color: #000;
}
/* line 63, modai-radial-clock.scss */
.clock.day .clock-time small {
  color: #666;
}
/* line 69, modai-radial-clock.scss */
.clock.day .clock-unit.clock-hours {
  border-color: #282828;
}
/* line 72, modai-radial-clock.scss */
.clock.day .clock-unit.clock-hours .clock-hand {
  background-color: #282828;
}
/* line 77, modai-radial-clock.scss */
.clock.day .clock-unit.clock-minutes {
  border-color: #6f7073;
}
/* line 80, modai-radial-clock.scss */
.clock.day .clock-unit.clock-minutes .clock-hand {
  background-color: #6f7073;
}
/* line 85, modai-radial-clock.scss */
.clock.day .clock-unit.clock-seconds {
  border-color: #c1bfc0;
}
/* line 88, modai-radial-clock.scss */
.clock.day .clock-unit.clock-seconds .clock-hand {
  background-color: #c1bfc0;
}
/* line 96, modai-radial-clock.scss */
.clock.night .clock-face {
  background-color: #7d8288;
}
/* line 100, modai-radial-clock.scss */
.clock.night .clock-halo {
  -moz-box-shadow: 0 0 40px #fdf6c9;
  -webkit-box-shadow: 0 0 40px #fdf6c9;
  -o-box-shadow: 0 0 40px #fdf6c9;
  box-shadow: 0 0 40px #fdf6c9;
  border-color: #faf6d1;
}
/* line 105, modai-radial-clock.scss */
.clock.night .clock-time {
  color: #fff;
}
/* line 108, modai-radial-clock.scss */
.clock.night .clock-time small {
  color: #fff;
}
/* line 114, modai-radial-clock.scss */
.clock.night .clock-unit.clock-hours {
  border-color: #282828;
}
/* line 117, modai-radial-clock.scss */
.clock.night .clock-unit.clock-hours .clock-hand {
  background-color: #282828;
}
/* line 122, modai-radial-clock.scss */
.clock.night .clock-unit.clock-minutes {
  border-color: #c1bfc0;
}
/* line 125, modai-radial-clock.scss */
.clock.night .clock-unit.clock-minutes .clock-hand {
  background-color: #c1bfc0;
}
/* line 130, modai-radial-clock.scss */
.clock.night .clock-unit.clock-seconds {
  border-color: #fff;
}
/* line 133, modai-radial-clock.scss */
.clock.night .clock-unit.clock-seconds .clock-hand {
  background-color: #fff;
}
/* line 140, modai-radial-clock.scss */
.clock .clock-time {
  display: block;
  height: 40px;
  font-family: "Zag Bold", Verdana, sans-serif;
  font-size: 58px;
  left: 0;
  letter-spacing: -2px;
  line-height: 40px;
  margin: -20px 0 0 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
/* line 154, modai-radial-clock.scss */
.clock .clock-time small {
  display: block;
  font-size: 0.5em;
  letter-spacing: 0;
  margin-top: -2px;
  text-transform: uppercase;
}
/* line 163, modai-radial-clock.scss */
.clock .clock-unit {
  -moz-border-radius: 174px;
  -webkit-border-radius: 174px;
  -o-border-radius: 174px;
  -ms-border-radius: 174px;
  -khtml-border-radius: 174px;
  border-radius: 174px;
  border: 10px solid;
  height: 174px;
  left: 0;
  position: absolute;
  top: 0;
  width: 174px;
}
/* line 172, modai-radial-clock.scss */
.clock .clock-unit .clock-hand {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #000;
  height: 20px;
  left: 50%;
  margin: 0 0 0 -10px;
  position: absolute;
  top: -11px;
  width: 20px;
}
/* line 183, modai-radial-clock.scss */
.clock .clock-unit.clock-minutes {
  -moz-border-radius: 158px;
  -webkit-border-radius: 158px;
  -o-border-radius: 158px;
  -ms-border-radius: 158px;
  -khtml-border-radius: 158px;
  border-radius: 158px;
  border-width: 10px;
  height: 158px;
  margin: 8px 0 0 8px;
  width: 158px;
}
/* line 191, modai-radial-clock.scss */
.clock .clock-unit.clock-seconds {
  -moz-border-radius: 142px;
  -webkit-border-radius: 142px;
  -o-border-radius: 142px;
  -ms-border-radius: 142px;
  -khtml-border-radius: 142px;
  border-radius: 142px;
  border-width: 8px;
  height: 142px;
  margin: 18px 0 0 18px;
  width: 142px;
}
/* line 200, modai-radial-clock.scss */
.clock .clock-menu {
  left: 50%;
  margin: -40px 0 0 -75px;
  overflow: hidden;
  position: relative;
  width: 150px;
}
/* line 207, modai-radial-clock.scss */
.clock .clock-menu ul {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  list-style: none;
  color: #000;
  font-family: "Zag Bold", Verdana, sans-serif;
  font-size: 40px;
  margin: -300px 0 0;
  padding: 0;
  text-align: center;
}
/* line 11, ../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.6/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
.clock .clock-menu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 219, modai-radial-clock.scss */
.clock .clock-menu li {
  background-color: #fff;
  border-top: 2px solid #c1bfc0;
  padding: 10px 0;
}
/* line 225, modai-radial-clock.scss */
.clock .clock-menu .clock-menu-alarm {
  border: none;
  color: #fff;
  height: 135px;
  padding: 0;
}
/* line 231, modai-radial-clock.scss */
.clock .clock-menu .clock-menu-alarm img {
  bottom: 0;
  margin-top: 85px;
}
/* line 238, modai-radial-clock.scss */
.clock .clock-menu .clock-menu-time:hover {
  background-color: #c1bfc0;
  cursor: pointer;
}
/* line 244, modai-radial-clock.scss */
.clock .clock-menu .clock-menu-button {
  -moz-border-radius-bottomleft: 150px;
  -webkit-border-bottom-left-radius: 150px;
  -o-border-bottom-left-radius: 150px;
  -ms-border-bottom-left-radius: 150px;
  -khtml-border-bottom-left-radius: 150px;
  border-bottom-left-radius: 150px;
  -moz-border-radius-bottomright: 150px;
  -webkit-border-bottom-right-radius: 150px;
  -o-border-bottom-right-radius: 150px;
  -ms-border-bottom-right-radius: 150px;
  -khtml-border-bottom-right-radius: 150px;
  border-bottom-right-radius: 150px;
  background-color: #282828;
  border: none;
  color: #fff;
  font-family: Verdana, sans-serif;
  font-size: 35px;
  font-weight: bold;
  height: 75px;
  line-height: 65px;
  padding: 0;
  width: 150px;
}
/* line 258, modai-radial-clock.scss */
.clock .clock-menu .clock-menu-button:hover {
  background-color: #6f7073;
  cursor: pointer;
}
/* line 267, modai-radial-clock.scss */
.clock.active .clock-menu ul {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-top: 0;
}
