@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/font-face";
@import "compass/css3/transform";
@import "compass/css3/transition";

@import "compass/typography/lists/bullets";

@include font-face("Zag Regular", font-files("zag_regular-webfont.woff", woff, "zag_regular-webfont.ttf", truetype, "zag_regular-webfont.svg", svg), "zag_regular-webfont.eot");
@include font-face("Zag Bold", font-files("zag_bold-webfont.woff", woff, "zag_bold-webfont.ttf", truetype, "zag_bold-webfont.svg", svg), "zag_bold-webfont.eot");

body {
	background-color: #8bcbcd;

	&.night {
		background-color: #3c454c;
	}
}

.clock {
	height: 224px;
	margin: 50px auto 0;
	position: relative;
	width: 224px;

	.clock-face {
		@include border-radius(194px);
		height: 194px;
		overflow: hidden;
		left: 15px;
		position: relative;
		top: 15px;
		width: 194px;
		z-index: 10;
	}

	.clock-halo {
		@include border-radius(192px);
		@include box-shadow(0 0 40px #FFDE39);
		border: 15px solid;
		height: 192px;
		left: 1px;
		overflow: hidden;
		position: absolute;
		top: 1px;
		width: 192px;
		z-index: 20;
	}

	&.day {
		.clock-face {
			@include border-radius(194px);
			background-color: #fff;
		}

		.clock-halo {
			border-color: #F7DF4D;
		}

		.clock-time {
			color: #000;

			small {
				color: #666;
			}
		}

		.clock-unit {
			&.clock-hours {
				border-color: #282828;

				.clock-hand {
					background-color: #282828;
				}
			}

			&.clock-minutes {
				border-color: #6f7073;

				.clock-hand {
					background-color: #6f7073;
				}
			}

			&.clock-seconds {
				border-color: #c1bfc0;

				.clock-hand {
					background-color: #c1bfc0;
				}
			}
		}
	}

	&.night {
		.clock-face {
			background-color: #7d8288;
		}

		.clock-halo {
			@include box-shadow(0 0 40px #fdf6c9);
			border-color: #faf6d1;
		}

		.clock-time {
			color: #fff;

			small {
				color: #fff;
			}
		}

		.clock-unit {
			&.clock-hours {
				border-color: #282828;

				.clock-hand {
					background-color: #282828;
				}
			}

			&.clock-minutes {
				border-color: #c1bfc0;

				.clock-hand {
					background-color: #c1bfc0;
				}
			}

			&.clock-seconds {
				border-color: #fff;

				.clock-hand {
					background-color: #fff;
				}
			}
		}
	}

	.clock-time {
		display: block;
		height: 40px;
		font-family: "Zag Bold", Verdana, sans-serif;
		font-size: 58px;
		left: 0;
		letter-spacing: -2px;
		line-height: 40px;
		margin: -20px 0 0 0;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 100%;

		small {
			display: block;
			font-size: 0.5em;
			letter-spacing: 0;
			margin-top: -2px;
			text-transform: uppercase;
		}
	}

	.clock-unit {
		@include border-radius(174px);
		border: 10px solid;
		height: 174px;
		left: 0;
		position: absolute;
		top: 0;
		width: 174px;

		.clock-hand {
			@include rotate(45deg);
			background-color: #000;
			height: 20px;
			left: 50%;
			margin: 0 0 0 -10px;
			position: absolute;
			top: -11px;
			width: 20px;
		}

		&.clock-minutes {
			@include border-radius(158px);
			border-width: 10px;
			height: 158px;
			margin: 8px 0 0 8px;
			width: 158px;
		}

		&.clock-seconds {
			@include border-radius(142px);
			border-width: 8px;
			height: 142px;
			margin: 18px 0 0 18px;
			width: 142px;
		}
	}

	.clock-menu {
		left: 50%;
		margin: -40px 0 0 -75px;
		overflow: hidden;
		position: relative;
		width: 150px;

		ul {
			@include transition-property(all);
			@include transition-duration(0.4s);
			@include no-bullets();
			color: #000;	
			font-family: "Zag Bold", Verdana, sans-serif;
			font-size: 40px;
			margin: -300px 0 0;
			padding: 0;
			text-align: center;
		}

		li {
			background-color: #fff;
			border-top: 2px solid #c1bfc0;
			padding: 10px 0;
		}

		.clock-menu-alarm {
			border: none;
			color: #fff;
			height: 135px;
			padding: 0;

			img {
				bottom: 0;
				margin-top: 85px;
			}
		}

		.clock-menu-time {
			&:hover {
				background-color: #c1bfc0;
				cursor: pointer;
			}
		}

		.clock-menu-button {
			@include border-bottom-left-radius(150px);
			@include border-bottom-right-radius(150px);
			background-color: #282828;
			border: none;
			color: #fff;
			font-family: Verdana, sans-serif;
			font-size: 35px;
			font-weight: bold;
			height: 75px;
			line-height: 65px;
			padding: 0;
			width: 150px;

			&:hover {
				background-color: #6f7073;
				cursor: pointer;
			}
		}
	}

	&.active {
		.clock-menu {
			ul {
				@include transition-property(all);
				@include transition-duration(0.4s);
				margin-top: 0;
			}
		}
	}
}