@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/font-face";
@import "compass/css3/transform";

body {
	background-color: #8bcbcd;
}

.clock {
	@include border-radius(194px);
	@include box-shadow(0 0 40px #fdf6c9);
	background-color: #fff;
	border: 15px solid #f9e04a;
	height: 194px;
	margin: 50px auto 0;
	overflow: hidden;
	position: relative;
	width: 194px;

	.clock-time {
		display: block;
		height: 40px;
		font-family: monospace;
		font-size: 40px;
		left: 0;
		line-height: 40px;
		margin: -20px 0 0 0;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 100%;
	}

	.clock-face {
		@include border-radius(174px);
		border: 10px solid;
		height: 174px;
		left: 0;
		position: absolute;
		top: 0;
		width: 174px;

		.clock-hand {
			@include rotate(45deg);
			background-color: black;
			height: 20px;
			left: 50%;
			margin: 0 0 0 -10px;
			position: absolute;
			top: -11px;
			width: 20px;
		}

		&.clock-hours {
			border-color: #31331d;

			.clock-hand {
				background-color: #31331d;
			}
		}

		&.clock-minutes {
			@include border-radius(158px);
			border-color: #6f7073;
			border-width: 10px;
			height: 158px;
			margin: 8px 0 0 8px;
			width: 158px;

			.clock-hand {
				background-color: #6f7073;
			}
		}

		&.clock-seconds {
			@include border-radius(142px);
			border-color: #c1bfc0;
			border-width: 8px;
			height: 142px;
			margin: 18px 0 0 18px;
			width: 142px;

			.clock-hand {
				background-color: #c1bfc0;
			}
		}
	}
}